angularapp/node_modules
angularapp/package.json
angularapp/package-lock.json
angularapp/src/test.ts
angularapp/.editorconfig
angularapp/angular.json
angularapp/karma.conf.js
angularapp/tsconfig.app.json
angularapp/tsconfig.json
angularapp/tsconfig.spec.json

//backend
dotnetapp/Migrations

nunit
karma

# Local configuration
appsettings.json
appsettings.Development.json

# .NET build files
**/bin/
**/obj/
